.main {
  width: 90%;
  max-width: 50rem;
  text-align: left;
  background-color: $white;
  border-radius: 1rem;
  position: relative;

  &__img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    vertical-align: top;
  }
}

.content {
  &-text {
    padding: 2rem 2rem 1rem 2rem;
    &__text {
      font-size: 1.2rem;
      text-align: justify;
      margin-bottom: 1rem;
    }

    &__paragraph {
      font-size: 0.9rem;
      text-align: left;
      line-height: 1.5;
    }
  }

  &-social {
    display: none;
    padding: 1.5rem 2rem;
    &__picture {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

    &__name {
      margin-left: 1rem;
    }
  }

  &-share {
    display: none;
    background-color: $dark-blue;
    padding: 1.9375rem 2rem;
    width: 100%;
    border-radius: 0 0 1rem 1rem;

    &__share {
      letter-spacing: 5px;
      color: $grayish-blue;
    }

    &__socials {
      margin-left: 1rem;

      &-icon {
        width: 25px;
        height: 25px;

        & + & {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 30px;
  background-color: $light-gayish-blue;

  &__active {
    background-color: $soft-blue;
  }

  &__fill {
    fill: $white;
  }
}
